@model Paginate<ShopVM>

@{
    ViewData["Title"] = "Index";
    int count = ((Model.CurrentPage - 1) * 4) + 1;
}

@foreach (var item in Model.Datas)
{
    @foreach (var ph in item.PageHeaders)
    {
        <section id="page-header" style="background-image: url(../assets/img/banner/@ph.Image);">
            <h2>@ph.Title</h2>
            <p>@ph.Description</p>
        </section>
    }
}


<section id="product1" class="section-p1">
    <div class="pro-container">
        @foreach (var item in Model.Datas)
        {
            @foreach (var Product in item.Products)
            {
                <div class="pro godzilla" id="@Product.Id">
                    <a asp-controller="shopdetail" asp-action="index" asp-route-id="@Product.Id">
                        <img src="~/assets/img/products/@Product.ProductImages.FirstOrDefault(m=>m.IsMain)?.Image" alt="">
                    </a>
                    <div class="des">
                        <span>@Product.Brand.Name</span>
                        <h5>@Product.Title</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$@Product.Price</h4>
                    </div>
                    <a class="salam12321"><i class="ri-shopping-cart-2-line cart"></i></a>
                </div>

            }
        }

    </div>
</section>

<section id="pagination" class="section-p1">

    @for (int i = 1; i <= Model.TotalPage; i++)
    {
        <a class="@(Model.HasNext == true ? "":"disabled")" asp-action="Index" asp-route-page="@i">@i</a>
    }

</section>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-x+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

}